body {
  background-color: #212121;
  color: #f2f2f2;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

.header {
}
.header-container {
}
.search {
}
.search-form {
 
}
.ganre {
}
.header-title {
}
.ganre-list {
}
.ganre-item {
}
.ganre-button {
}
.sort {
}
.movies {
}
.movies-container {
}

.list__movies {
}
.item__movies {
}
.movie {
}
.box__img {
  width: 200px;
  height: 300px;
}
.img__movies {
}
.box__info {
}
.title__movie {
}
.since__movie {
}
.info__movie {
}
.genre__movie {
}
.raiting__movie {
}